body{
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px black solid;
  padding: 2rem;
  margin: 2rem;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: 
  justify-content: center;

}

.display{
    border: 1px solid black;
    height: 50px;
    background-color: beige;
}

p{
  margin-left: 1rem;
}

button {
    background-color: #e7e7e7; 
    color: black;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2rem;
  }

  button:hover {
    color: var(--color-primary);
    background-color: var(--color-tertiary);
    cursor: pointer;
}

